.header {
    @apply font-semibold text-2xl;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 27%;
}